 <style>
  .last{
    text-align: center;
  }
 </style>
 
 
 <h2>Booking Confirmation</h2>
<p>Thank you for booking!</p>
<p><strong>Listing:</strong> <%= booking.listing.location %></p>
<p><strong>Check-in:</strong> <%= booking.checkIn %></p>
<p><strong>Check-out:</strong> <%= booking.checkOut %></p>
<p><strong>Booked by:</strong> <%= booking.user.username %></p>

 
<div class="last">
  <h1>Thank you!!</h1>
  <h3>"Congratulations! Your stay at is confirmed. Get ready for a relaxing and memorable experience!!</h3>
</div>




